OPENLENS_DEVELOPMENT_TEAM =
OPENLENS_CODE_SIGN_STYLE = Automatic
OPENLENS_APP_BUNDLE_ID = dev.openlens.OpenLens
OPENLENS_WIDGET_BUNDLE_ID = dev.openlens.OpenLens.OpenLensActivityWidget
OPENLENS_TESTS_BUNDLE_ID = dev.openlens.OpenLensTests
OPENLENS_APP_GROUP = group.dev.openlens.shared

#include? "Signing.local.xcconfig"